
<%= @image.img_tag %>

<% for image in @images %>
  <tr>
  <% for column in Image.content_columns %>
    <td><%=h image.send(column.name) %></td>
  <% end %>
    <%# following line outputs THUMBNAIL: %>
    <td><%= image.img_tag_thumbnail %></td>
    <td><%= link_to 'Show', :action => 'show', :id => image %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => image %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => image }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
